@import "tailwindcss";

@theme {
    --color-primary: #8FC24A;
    --color-secondary: #4B3B2D;
    --color-bg-light: #F4F5F6;
    --color-bg-cream: #F9FBF1;

    --font-display: "Inter", "system-ui", sans-serif;
    --font-body: "Inter", "system-ui", sans-serif;
}

@layer base {
    html {
        overflow-x: hidden;
    }

    body {
        @apply bg-bg-light text-secondary font-body;
        overflow-x: hidden;
        min-height: 100vh;
    }

    .container {
        max-width: 1280px !important;
        margin-left: auto;
        margin-right: auto;
        padding-left: 24px;
        padding-right: 24px;
    }
}



@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fade-in 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

/* Hide scrollbar utility */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
}